body{
    font-size: 16px;
    line-height: 26px;
    @extend %montserrat-400;
    color: $devault-color;
}
.main{
    transition: transform  400ms;
    margin-left: 80px;
}
.container{
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
    position: relative;
}
.container-fluid{
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}
a:hover{
    text-decoration: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    flex: 1 0 auto;
}
.title{
    text-align:center;
    font-size: 42px;
    line-height: 1.5;
    margin-bottom: 60px;
    @extend %playfair-700;
    color: $darc-color;
}
.page-section{
    padding: 80px 0;
}

.filter-button:not(:last-child){
    margin-right: 15px;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
    appearance: none;
}
// .cuscom-checkbox {
// 	position: relative;
//     padding-left: 24px;
// }
// .cuscom-checkbox:before {
// 	content: '';
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 16px;
// 	height: 16px;
//     background: #ebebeb;
//     border:none;
//     border-radius: 3px;
// }

// .checkbox:checked + .cuscom-checkbox:before {
// 	background-image: url('../images/icons/check.png');
//     background-repeat: no-repeat;
//     background-position: center;
// }

.is-btn {
display: inline-block;
padding: 20px 40px;
text-transform: uppercase;
/* border: 2px solid var(--color-success); */
background: transparent;
transition: all 0.5s ease-in-out 0s;
font-weight: bold;
letter-spacing: 2px;
font-size: 14px;
border: none;
cursor: pointer;
}

.is-btn:hover {
background-color: var(--color-primary);
color: $accent-color;
background: var(--color-success);
color: #fff;
}


.is-btn--active {
color: #fff;
background: $accent-color;
transition: all 0.5s ease-in-out;
}

.is-btn.is-btn--active:hover {
color: $devault-color;
background: #fff;
}

.is-btn--reverse {
margin-right: 33px;
color: $devault-color;
background: #fff;
transition: all 0.5s ease-in-out;

}

.is-btn--reverse:hover {
color: #fff;
background: $accent-color;
}
